#components-form-normal-login
  cursor: default;
  display: flex
  justify-content: center
  align-items: center
  flex: 1
  width: 100%
  height: 100vh

  .components-form-background-wrapper
    position: fixed;
    filter: blur(3px);
    width: 105%
    height: 105vh

    .components-form-background
      width: 100%
      height: 105vh
      background-image url('./../../../images/bluescreenofdeath.jpg')
      background-position: 12% 1100%;

  .ant-card-head
    border-bottom none

  .login-form-forgot
    float: right

  .ant-card
    z-index 1
    margin-top: -20%;
    width 367px

  .login-form-button
    width: 100%
