.error-report-layout
  &.ant-layout
    height 100vh
  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected
    background-color: rgba(24, 144, 255, 0.45);

  .logo
    background-image url("./../../../images/computer.png")
    width: 48px;
    height: 61px;
    margin: 0 10px 0 -40px;
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  .content-wrapper
    background-color: #fff
    padding: 24px
    min-height: 280px
    display flex
    flex: 1

  .ant-layout-content
    padding 0 10px 10px 10px !important
    display: flex
    flex-direction: column

  .ant-layout-footer
    padding 5px

  .ant-menu
    width: calc(100% - 125px)
    float: left